<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="no.fhi.KoronasertifikatKontrollapp" android:versionName="1.0" android:versionCode="24">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="29" />
	<application android:theme="@style/MainTheme" android:label="Kontroll av koronasertifikat" android:allowBackup="false" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.VIBRATE" />
</manifest>